App/build
App/Pods
App/output
App/App/public
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml

# fastlane
build
fastlane/report.xml
fastlane/Preview.html
fastlane/README.md
fastlane/test_output
*.ipa
*.dSYM.zip
*.p12
*.p8
*.mobileprovision
